---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.jsx";
import RecommendedPackages from "../components/RecommendedPackages.jsx";
---

<Layout title="Expeditions Group | Viajes y Aventura">
	<main>
		<Hero client:only="react" />
		<RecommendedPackages client:load />
	</main>
</Layout>
